import {Component} from '@angular/core';
import {RouterOutlet} from '@angular/router';

@Component({
  selector: 'app-<%= name %>-routing',
  standalone: true,
  imports: [RouterOutlet],
  template: `<router-outlet />`,
})
export class <%= classify(name) %>RoutingComponent {}
