import {Injectable} from '@angular/core';
<% if(controlValueAccessor) { %>
export interface <%= classify(name) %>ComponentData {}
<%}%>
@Injectable({providedIn: 'root'})
export class <%= classify(name) %>ComponentService {}
