import {ChangeDetectionStrategy, Component} from '@angular/core';

import {<%= classify(name) %>ComponentService} from './<%= name %>-component.service';

@Component({
  selector: 'app-<%= name %>',
  templateUrl: './<%= name %>.component.html',
  styleUrls: ['./<%= name %>.component.scss'],
  changeDetection: ChangeDetectionStrategy.OnPush,
})
export class <%= classify(name) %>Component {
  constructor(private _componentService: <%= classify(name) %>ComponentService) {}
}
