import {Injectable} from '@angular/core';
<% if(controlValueAccessor) { %>
export type <%= classify(name) %>ComponentData = {}
<%}%>
@Injectable()
export class <%= classify(name) %>ComponentService {}
